.main{
    width: 80vw;
    margin: 0 auto 4vw;
}
.main-title{
    margin: 2vw 0;
    font-size: 2vw;
}
.main-pic{
    width: 50vw;
    height: 26vw;
    margin: 4vw auto 0;
}
.main-cont{
    width: 70vw;
    padding: 2vw;
    margin: 2vw auto 0;
    background-color: #444;
    color: #fff;
}
.main-cont-title{
    padding-bottom: .6vw;
    font-size: 1.8vw;
    border-bottom: .1vw solid #fff;
}
.main-cont-desc{
    text-indent: 2.2vw;
    margin-top: 1vw;
    font-size: 1.1vw;
    line-height: 1.5;
}